<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.julianriemersma.alfred-vscode-github</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A427EB1-FBAC-44E0-B595-70121C1A6C41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5353D46-9C5F-4865-9212-8B4E1C87AD54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7F40737-D9B4-4E49-8128-620064BF5927</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in iTerm</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F828728B-118D-4AC6-8AF8-60A3663C3548</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>363F9159-6B45-4E2E-A5B4-2DE5657ECE4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>858632C6-B121-4663-85F6-C5A9873284C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A27E443-BD1B-45D9-A3F1-1316856C9B05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E291008F-8BB4-4EF7-B3CB-272BA3511E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>858632C6-B121-4663-85F6-C5A9873284C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A27E443-BD1B-45D9-A3F1-1316856C9B05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9AF71AE-A337-418C-8966-05F760413F18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97AD1C05-4349-479B-8A3E-D8E52012A2FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>E291008F-8BB4-4EF7-B3CB-272BA3511E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED3EBE6A-2F43-4EA1-BD26-DBAB43136B70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED3EBE6A-2F43-4EA1-BD26-DBAB43136B70</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Julian Riemersma</string>
	<key>description</key>
	<string>Open or create new Visual Studio Code project and create GitHub repository</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New/Open VSC Project + GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A5353D46-9C5F-4865-9212-8B4E1C87AD54</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>A7F40737-D9B4-4E49-8128-620064BF5927</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>openproject</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading projects...</string>
				<key>script</key>
				<string>./run-node index.js open</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open project in Visual Studio Code</string>
				<key>title</key>
				<string>Open project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A427EB1-FBAC-44E0-B595-70121C1A6C41</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Library/CoreServices/Finder.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F828728B-118D-4AC6-8AF8-60A3663C3548</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application id "com.runningwithcrayons.Alfred" to run trigger "enter_name" in workflow "com.julianriemersma.newproject" with argument "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97AD1C05-4349-479B-8A3E-D8E52012A2FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>newproject</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching directories...</string>
				<key>script</key>
				<string>./run-node index.js new</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Create a new project and open in Visual Studio Code</string>
				<key>title</key>
				<string>New Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B9AF71AE-A337-418C-8966-05F760413F18</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Creating project ({var:name}) and opening in VSCode</string>
				<key>script</key>
				<string>./create-new-project ${directory} ${name}
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Creating project ({var:name}) and opening in VSCode</string>
				<key>title</key>
				<string>Creating project...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED3EBE6A-2F43-4EA1-BD26-DBAB43136B70</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>echo '{"items":[{"title":"Enter a name for your project","subtitle":"Create project with name: {query}","arg":"{query}"}]}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5A27E443-BD1B-45D9-A3F1-1316856C9B05</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>directory</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>858632C6-B121-4663-85F6-C5A9873284C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>enter_name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>363F9159-6B45-4E2E-A5B4-2DE5657ECE4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E291008F-8BB4-4EF7-B3CB-272BA3511E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow comes with two commands:

- newproject: creates a new project in your project directory or a subdirectory, automatically initializes a matching GitHub repository and opens the project in Visual Studio Code

- openproject: opens an existing project from your project directory or subdirectory in Visual Studio Code

Requirements:
- Visual Studio Code (including the "code" shell command)
- Node
- git
- A GitHub Api token (how to obtain: https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token#about-personal-access-tokens)</string>
	<key>uidata</key>
	<dict>
		<key>0A427EB1-FBAC-44E0-B595-70121C1A6C41</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>363F9159-6B45-4E2E-A5B4-2DE5657ECE4B</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>5A27E443-BD1B-45D9-A3F1-1316856C9B05</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>858632C6-B121-4663-85F6-C5A9873284C3</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>97AD1C05-4349-479B-8A3E-D8E52012A2FE</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>A5353D46-9C5F-4865-9212-8B4E1C87AD54</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A7F40737-D9B4-4E49-8128-620064BF5927</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>B9AF71AE-A337-418C-8966-05F760413F18</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>E291008F-8BB4-4EF7-B3CB-272BA3511E33</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>605</real>
		</dict>
		<key>ED3EBE6A-2F43-4EA1-BD26-DBAB43136B70</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>F828728B-118D-4AC6-8AF8-60A3663C3548</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ghp_</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Check out the readme for more information</string>
			<key>label</key>
			<string>GitHub Access token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ACCESS_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Developer</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Directory where projects are located</string>
			<key>label</key>
			<string>Project directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>PROJECT_DIR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Initial commit!</string>
				<key>placeholder</key>
				<string>Initial commit!</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Commit message for the initial commit in a new repo</string>
			<key>label</key>
			<string>Initial commit message</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>COMMIT_MSG</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>true</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Private</string>
						<string>true</string>
					</array>
					<array>
						<string>Public</string>
						<string>false</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Create a private or public GitHub repository for new projects</string>
			<key>label</key>
			<string>GitHub repo visibility</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>REPO_PRIVATE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>True</string>
			</dict>
			<key>description</key>
			<string>Include option to pick projects subdirectory</string>
			<key>label</key>
			<string>Include subdirectories</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>INC_SUBDIRS</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.2.2</string> <!-- x-release-please-version -->
	<key>webaddress</key>
	<string>https://github.com/AppelBoomHD/alfred-vscode-github</string>
</dict>
</plist>
